@model ICollection<bookrepositoryprogram.Models.book>

<div class="container-fluid m-3">
    <h2>Lista książek</h2>
    <table class="table">
        @foreach (var book in @Model)
        {
            <tr>
                <td>
                    @book.Title
                </td>
                <td>
                    @book.Author
                </td>
                <td>
                   @book.Price
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Book" asp-action="EditBook" asp-route-id="@book.Id">Edytuj</a>
                    <a class="btn btn-primary" asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id">Usuń</a>
                </td>
            </tr>
        }
    </table>
</div>